

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <h3>Create your dose for <%= @cocktail.name %></h3>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description, placeholder: "1cl" %>
        <%= f.input :ingredient_id, collection: Ingredient.all.order("name") %>
        <%= f.submit "Add a dose", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
